name: Security Pipeline

on:
  push:
  pull_request:

jobs:
  secret-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Gitleaks
        run: |
          wget https://github.com/gitleaks/gitleaks/releases/latest/download/gitleaks-linux-amd64.tar.gz
          tar -xzf gitleaks-linux-amd64.tar.gz
          sudo mv gitleaks /usr/local/bin/

      - name: Run Secret Scan
        run: gitleaks detect --source . --exit-code 1